---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Page">
	<h1>About This Website</h1>
	<p>This is the about page, created to show how file-based routing works in Astro.</p>
	<p>This page was created from <code>c:/git/public-website/src/pages/about.astro</code>.</p>
</Layout>