---
import Layout from '../layouts/Layout.astro';
---
<Layout title="ConfigButler is coming soon">
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Space+Grotesk:wght@400;700&display=swap"
		rel="stylesheet"
		slot="head"
	/>
	<img src="/logo_owl.png" alt="Logo" />
	<h1>ConfigButler</h1>
	<p class="intro">
		You build software: are you tired of complex, error-prone, distracting configurations? ConfigButler helps you build,
		validate, and manage them with ease. Save time and deliver robust configs
		your customers will love. Coming soon!
	</p>
</Layout>
