---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConfigButler is comming soon</title>
    <link rel="stylesheet" href="/src/styles/layout.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <img src="/logo_owl.png" alt="Logo" />
    <h1>ConfigButler</h1>
    <p class="intro">
      You build software: meet ConfigButler. Your intelligent assistant that helps you to build fast and beautiful configuration. Comming soon!
    </p>
  </body>
</html>
